<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
	<div class="form-group" [ngClass]="{ 'has-error': invalidLoginUsername() }"> <!-- User Name -->
    	<label for="login_username" class="control-label">User Name</label>
    	<input type="text" formControlName="login_username" class="form-control" id="login_username" name="login_username">
    	<p *ngIf="invalidLoginUsername()" id="login_username_error" class="help-block">{{ 'no user present for this username' }}</p>
    </div>
    
    <div class="form-group" [ngClass]="{ 'has-error': invalidLoginPassword() }"> <!-- User Name -->
    	<label for="login_password" class="control-label">User Name</label>
    	<input type="text" formControlName="login_password" class="form-control" id="login_password" name="login_password">
    	<p *ngIf="invalidLoginPassword()" id="login_password" class="help-block">{{ 'invalid password' }}</p>
	</div>

	<div class="form-group has-error"> <!-- Register Button -->
		<button type="submit" class="btn btn-primary">Login</button>
	</div>

</form>

<div> <!-- Register Button -->
    <button type="submit" class="btn btn-primary" (click)="RedirectToRegister()">Register</button>
</div>